@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--text);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--color-secondary-100);
  --color-input: var(--background);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-destructive-bg: var(--color-red-100);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--color-text-400);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* TYPOGRAPHY */
  --font-pacifico: var(--font-pacifico);
  --font-abril-fat: var(--font-abril-fat);
  --font-urbanist: var(--font-urbanist);

  /* PROJECT PALETTE */
  --text: oklch(28.91% 0.000 89.88);
  --background: oklch(96.85% 0.028 79.48);
  --primary: oklch(46.73% 0.254 273.32);
  --secondary: oklch(81.32% 0.074 264.40);
  --accent: oklch(68.75% 0.206 37.37);
  
  /* SHADES */
  --color-text-50: oklab(96.12% 0.000 0.00);
  --color-text-100: oklab(92.49% 0.000 0.00);
  --color-text-200: oklab(84.52% 0.000 0.00);
  --color-text-300: oklab(76.68% 0.000 0.00);
  --color-text-400: oklab(68.30% 0.000 0.00);
  --color-text-500: oklab(59.99% 0.000 0.00);
  --color-text-600: oklab(51.03% 0.000 0.00);
  --color-text-700: oklab(42.02% 0.000 0.00);
  --color-text-800: oklab(32.11% 0.000 0.00);
  --color-text-900: oklab(21.78% 0.000 0.00);
  --color-text-950: oklab(15.91% 0.000 0.00);

  --color-background-50: oklab(97.37% 0.004 0.02);
  --color-background-100: oklab(94.82% 0.009 0.05);
  --color-background-200: oklab(90.11% 0.017 0.09);
  --color-background-300: oklab(85.55% 0.029 0.13);
  --color-background-400: oklab(81.58% 0.044 0.15);
  --color-background-500: oklab(77.88% 0.069 0.16);
  --color-background-600: oklab(66.08% 0.056 0.13);
  --color-background-700: oklab(53.54% 0.044 0.11);
  --color-background-800: oklab(40.41% 0.029 0.08);
  --color-background-900: oklab(25.87% 0.015 0.05);
  --color-background-950: oklab(18.17% 0.005 0.04);

  --color-primary-50: oklab(93.85% 0.009 -0.03);
  --color-primary-100: oklab(87.78% 0.016 -0.05);
  --color-primary-200: oklab(75.57% 0.031 -0.11);
  --color-primary-300: oklab(63.48% 0.039 -0.17);
  --color-primary-400: oklab(52.33% 0.032 -0.23);
  --color-primary-500: oklab(43.90% -0.001 -0.27);
  --color-primary-600: oklab(37.48% 0.002 -0.23);
  --color-primary-700: oklab(30.71% 0.004 -0.18);
  --color-primary-800: oklab(23.73% 0.007 -0.13);
  --color-primary-900: oklab(16.21% 0.009 -0.08);
  --color-primary-950: oklab(11.95% 0.008 -0.05);

  --color-secondary-50: oklab(95.14% -0.001 -0.02);
  --color-secondary-100: oklab(90.19% -0.004 -0.04);
  --color-secondary-200: oklab(80.39% -0.008 -0.08);
  --color-secondary-300: oklab(70.66% -0.014 -0.12);
  --color-secondary-400: oklab(61.28% -0.021 -0.16);
  --color-secondary-500: oklab(52.91% -0.028 -0.20);
  --color-secondary-600: oklab(45.02% -0.023 -0.17);
  --color-secondary-700: oklab(36.93% -0.018 -0.14);
  --color-secondary-800: oklab(28.40% -0.013 -0.10);
  --color-secondary-900: oklab(19.26% -0.008 -0.06);
  --color-secondary-950: oklab(14.35% -0.008 -0.03);

  --color-accent-50: oklab(95.63% 0.017 0.02);
  --color-accent-100: oklab(91.38% 0.035 0.03);
  --color-accent-200: oklab(83.25% 0.074 0.06);
  --color-accent-300: oklab(75.79% 0.116 0.09);
  --color-accent-400: oklab(69.80% 0.155 0.12);
  --color-accent-500: oklab(65.59% 0.192 0.13);
  --color-accent-600: oklab(55.60% 0.160 0.11);
  --color-accent-700: oklab(45.14% 0.127 0.09);
  --color-accent-800: oklab(34.16% 0.090 0.07);
  --color-accent-900: oklab(22.17% 0.049 0.04);
  --color-accent-950: oklab(15.58% 0.028 0.03);
}

:root {
  --radius: 0.625rem;
/*   --background: oklch(96.85% 0.028 79.48); */
/*   --foreground: oklch(28.91% 0.000 89.88); */
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
/*   --primary: oklch(46.73% 0.254 273.32); */
  --primary-foreground: oklch(96.85% 0.028 79.48);
/*   --secondary: oklch(81.32% 0.074 264.40); */
  --secondary-foreground: oklch(28.91% 0.000 89.88);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
/*   --accent: oklch(68.75% 0.206 37.37); */
  --accent-foreground: oklch(96.85% 0.028 79.48);
  --destructive: oklch(0.5702 0.232575 27.316);
  --border: oklch(0.922 0 0);
  --input: oklch(28.91% 0.000 89.88);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.wrapper {
  @apply container mx-auto px-4
}

.nav-btn {
  @apply h-10 px-6 text-base
}

.nav-btn-mobile {
  @apply rounded-full size-13 p-0
}